* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 2rem;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  color: white;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  color: white;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
button#go-back {
  background-color: #202020;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
button#go-back a {
  text-decoration: none;
  color: white;
}
